@model IList<OdeToFood.Views.ViewModels.RestaurantReviewViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Restaurant's reviews list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Display("Rating")
        </th>
        <th>
            @Html.Display("Body")
        </th>
        <th>
            @Html.Display("Restaurant")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantFor.Name)
            @*            @Html.DisplayFor(modelItem => item.RestaurantId)*@
            @*            @Html.DropDownListFor(*@
            @*                modelItem => item.RestaurantId,*@
            @*                    new SelectList(item., "Id", "Address"),*@
            @*                    "-- Select a order date --"*@
            @*                )*@
            @*            @Html.ValidationMessageFor(x => x.PharmacyId)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
