@model List<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>List of restaurants</h2>

<p>
    @Html.ActionLink("Create a restaurant", "Create")
</p>


    @foreach (var item in Model)
    {
        <div class="restaurantTr row" style="padding: 20px 0 20px 0">
            <div class="col-lg-4 col-md-4">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-lg-4 col-md-4">
                @Html.DisplayFor(modelItem => item.Location)
            </div>

            <div class="col-lg-4 col-md-4">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Add a review", "Create", "RestaurantReview", new { id = item.Id }, null) |
                @Html.ActionLink("Book a table", "Index", "BookTable", new { id = item.Id }, null) |
            </div>
        </div>

        
            
        if (item.Reviews != null)
        {
            foreach (var review in item.Reviews)
            {
                <div class="reviewsTr row" style="display: none;">
                    <div class="col-lg-4 col-md-4">
                        @Html.Label("Rating: ")
                        @Html.DisplayFor(r => review.Rating)
                    </div>
                    <div class="col-lg-4 col-md-4">
                        @Html.Label("Comment: ")
                        @Html.DisplayFor(r => review.Body)
                    </div>
                    <div class="col-lg-4 col-md-4">
                        @Html.ActionLink("Edit", "Edit", "RestaurantReview", new { id = review.Id }, null) |
                        @Html.ActionLink("Details", "Details", "RestaurantReview", new { id = review.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "RestaurantReview", new { id = review.Id }, null)
                    </div>
                </div>
            }
        }


    }



