@model List<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>List of restaurants</h2>

<p>
    @Html.ActionLink("Create a restaurant", "Create")
</p>

<table class="table" style="border:none">


    @foreach (var item in Model)
    {
        <tr class="restaurantTr">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id}) |
                @Html.ActionLink("Add a review", "Create", "RestaurantReview", new {id = item.Id}, null) |

            </td>
        </tr>

    <tr class="reviewsTr" style ="display:none">
        @if (item.Reviews != null)
        {
            foreach (var review in item.Reviews)
            {
                <td>
                    @Html.Label("Rating: ")
                    @Html.DisplayFor(r => review.Rating)
                </td>
                <td>
                    @Html.Label("Comment: ")
                    @Html.DisplayFor(r => review.Body)
                </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "RestaurantReview", new {id = review.Id}, null) |
                        @Html.ActionLink("Details", "Details", "RestaurantReview", new {id = review.Id}, null) |
                        @Html.ActionLink("Delete", "Delete", "RestaurantReview", new {id = review.Id}, null) 
                    </td>
                }
            }
        </tr>

    }

</table>

